.outer {
    border-radius: 50%;
    border: 1px solid white;
    font-size: 50px;
    margin: 20px;
    top: 50px;
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: aqua
}

.inner {
    position: absolute;
    transform: translate(50%,50%);
    text-align: center;
    margin: auto;
    text-align: center;
    color: white;
    margin-top: -30%;
    
}